<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carport</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <header th:replace="~{fragments :: header}"></header>
</div>

<div class="container my-5">


</div>
<!-- Start -->
<div class="container my-5">
    <div class="content bg-light rounded-4 p-5 shadow">
        <h1 class="display-4 text-center">Fog Carport</h1>
        <p>Opret din sælgerprofil, så du kan behandle skræddersyede forespørgsler på bestillinger af en carport</p>

        <!-- Fejlbeskeder -->
        <div th:if="${#ctx.message != null}" th:text="${#ctx.message}" class="alert alert-warning bg-gradient"
             role="alert">
            Fejlbeskeder vises her
        </div>

        <!-- Formular -->
        <form action="/createaccount" method="post">
            <div class="row g-4">


                <!-- Navn-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="chooseName">Navn</label>
                        <input type="text" placeholder="For-, og efternavn" id="chooseName" name="chooseName"
                               class="form-control form-control-lg" required>
                    </div>
                </div>

                <!-- adresse-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="chooseAddress">Adresse</label>
                        <input type="text" placeholder="Indtast adresse" id="chooseAddress" name="chooseAddress"
                               class="form-control form-control-lg" required>
                    </div>
                </div>

                <!-- Postnummer-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="choosePostalCode">Postnummer</label>
                        <input type="text" placeholder="Indtast postnummer" id="choosePostalCode"
                               name="choosePostalCode" class="form-control form-control-lg" required>
                    </div>
                </div>

                <!-- By-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="chooseCity">By</label>
                        <input type="text" placeholder="Indtast din by" id="chooseCity" name="chooseCity"
                               class="form-control form-control-lg" required>
                    </div>
                </div>

                <!-- Telefon-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="choosePhoneNumber">Indtast telefonnnummer</label>
                        <input type="text" id="choosePhoneNumber" name="choosePhoneNumber" class="form-control form-control-lg" required>
                    </div>
                </div>

                <!-- Email-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="chooseEmail">Email</label>
                        <input type="email" placeholder="Indtast email" id="chooseEmail" name="chooseEmail" class="form-control form-control-lg" required>
                    </div>
                </div>

                <!-- Password-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="choosePassword">Kodeord</label>
                        <input type="password" placeholder="Indtast kodeord" id="choosePassword" name="choosePassword" class="form-control form-control-lg" required>
                    </div>
                </div>

                <!-- confirm Password-->
                <div class="col-md-4">
                    <div class="form-floating">
                        <label for="confirmPassword">Bekræft kodeord</label>
                        <input type="password" placeholder="Bekræft dit kodeord" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg" required>
                    </div>
                </div>
                <!-- Knap -->
                <div class="text-end mt-4">
                    <button class="btn btn-primary btn-lg" type="submit">Opret sælgerprofil</button>
                </div>





            </div>
        </form>
    </div>
</div>
</div>


<!-- Slut -->
</body>


<div class="content bg-light rounded-4 p-5">

</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</div>
</body>
</html>
